# Dart / Flutter specific files
.dart_tool/
.packages
.pub/
/build/
/.flutter-plugins
/.flutter-plugins-dependencies
/.metadata
/ios/Flutter/.symlinks/
/ios/Flutter/Flutter.podspec
/ios/Flutter/flutter_assets/
/android/.gradle/
/android/app/build/
/android/app/intermediates/
/android/build/
/.idea/
*.iml
*.iws
*.log
*.backup.*
*.lock
*.patch
*.tmp
*.apk
*.ap_

# IntelliJ IDEA files
*.iml
*.iws
*.ipr

# Visual Studio Code files
.vscode/
*.code-workspace

# Android Studio files
*.iml
*.iws
*.ipr

# macOS files
.DS_Store

# dotenv
.env

# Cloud Credentials JSON
cloud_credentials.json

# run.sh
run.sh